@font-face {
    font-family: 'Captura';
    src: url('hinted-subset-Captura-RegularDemo.woff2') format('woff2'),
        url('hinted-subset-Captura-RegularDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Captura';
    src: url('hinted-subset-Captura-BoldDemo.woff2') format('woff2'),
        url('hinted-subset-Captura-BoldDemo.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Captura';
    src: url('hinted-subset-Captura-BlackDemo.woff2') format('woff2'),
        url('hinted-subset-Captura-BlackDemo.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Captura';
    src: url('hinted-subset-Captura-LightDemo.woff2') format('woff2'),
        url('hinted-subset-Captura-LightDemo.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

